.product__top {
    flex: 1;
    height: 1150px;
    min-width: 100%;
    padding: 30px;
  
    display:flex;
   
    flex-wrap: wrap;
  }
  .product_topTitle{
    min-width:100%;
    
  }
  .product {
    width: 290px;
    height: 310px;
    
    padding: 5px;
    margin-left:10px;
    border: 1px solid grey;
    border-radius: 7px;
  }
  .productlisting__heading{
    padding: 10px;
    margin-left: 35px;
    font-family: "Nunito", sans-serif;
    font-size: 30px;
  }
  .product__image {
    width: 280px;
    height: 170px;
  }
  .iconWithTitle {
    display: flex;
    align-items: center;
  }
  .category__icon {
    color: grey;
    max-width: 20px;
    max-height: 20px;
    margin-left: 20px;
  }
  .category__name {
    font-size: 15px;
    color: grey;
    margin-top: 10px;
    margin-left: 10px;
  }
  .product__title {
    font-size: 18px;
    margin-left: 15px;
  
    margin-top: 5px;
  }
  .iconWithTitle {
    display: flex;
    align-items: center;
  
  }
  .product__price {
    font-size: 16px;
    margin-left: 15px;
    color: green;
  }
  .product__saved {
    margin-left: 5vw;
    max-width: 20px;
    max-height: 20px;
    margin-top: -3px;
  }
  .product__saved:hover{
    color:rgb(107, 184, 107);
  }
  
  .priceWithSaved {
    display: flex;
    align-items: center;
    margin-top:5px;
  }
  .placeIconWithLocation {
    display: flex;
    align-items: center;
    margin-top:5px;
  }
  .location__Icon {
    max-width: 20px;
    max-height: 20px;
    margin-left: 10px;
    margin-top: -5px;
  }
  .location__name {
    font-size: 16px;
  }
  